body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
  background: #2f57ff; 
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.container {
  display: flex;
  gap: 20px;
}

.card {
  background: #f1f1f1;
  padding: 20px;
  width: 200px;
  text-align: center;
  box-shadow: 0 4px 8px rgba(0,0,0,0.2);
  border-radius: 8px;
}

.card h2 {
  font-size: 18px;
  letter-spacing: 3px;
}

.card img {
  width: 40px;
  height: 40px;
  margin: 10px 0;
}

.card p {
  font-size: 12px;
  color: #555;
  margin: 10px 0;
}

.card button {
  background-color: white;
  border: 1px solid #333;
  padding: 10px 20px;
  cursor: pointer;
  font-weight: bold;
  letter-spacing: 1px;
}

.card button:hover {
  background-color: #ddd;
}

@media screen and (max-width: 600px) {
  .container {background-color: rgb(95, 95, 194);

    flex-direction: column;
    align-items: center;
  }

  .card {
    width: 90%;
    margin-bottom: 20px;
  }
}